:root {
  --primary-color: #0e175c;
  --primary-gray: #444;
  --gold-color: #b28331;
  --gold-text-color: #c19d68;
  --grey-color: #f8f1ed;
  --white-color: #ffffff;
  --title-fonts: "Cormorant Garamond", sans-serif;
  --body-fonts: "Lora";
}

.room-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.room-bottom span {
  font-size: 14px;
  font-weight: 400;
  color: #616161;
  font-family: var(--body-fonts);
}

.room-bottom .coustomar-rating img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  filter: brightness(0) saturate(100%) invert(38%) sepia(0%) saturate(4766%)
    hue-rotate(87deg) brightness(95%) contrast(94%);
}

/* .footer-widget-contact .footer-widget-logo img {
    mix-blend-mode: hard-light;
} */
footer {
  background: var(--primary-gray);
}

.footer-widget-contact {
  background: var(--primary-color);
  position: relative;
  background: url(../images/buliding.jpg) no-repeat center center;
  background-size: cover;
}

.footer-widget-contact .overlay-wrapper {
  position: relative;
  z-index: 2;
}

.footer-widget-contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1;
}


.book-now a{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-transform: uppercase;
}

.facilities-area .luxury-button:before {
  display: none;
}